<div class="welcome-div">
    <h1 class="welcome-text">Welcome!</h1>

    <div class="button-row">
        <button matButton="filled" class="my-custom-button">Drop Tables</button>
        <button matButton="filled" class="my-custom-button">Create Tables</button>
        <button matButton="filled" class="my-custom-button">Populate Tables</button>
    </div>
    <div class="button-row">
        <button matButton="filled" class="my-custom-button" (click)="rederect('table-list')">View Tables</button>
        <button matButton="filled" class="my-custom-button" (click)="rederect('queries')">Querie Tables</button>
    </div>
</div>