@use '@angular/material' as mat;
.title {
    color: white; margin: auto;
}

.header-div {
    display: flex;
    background-color: #BD4545;
    text-align: center;
    height: 50px;
}

.button-container {
    margin-top: 5px;
    margin-right: 5px;
}

.icon {
    color: white;
}
