
.mat-mdc-button-base.back-button {
    background-color: #BD4545 !important;
    margin: 10px 0px 0px 10px;
    width: 50px;
    height: 30px;
}

.mdc-text-field--outlined {
  border-color: white !important; /* Replace with your color */
}

h2 {
    color: #BD4545;
    margin: 30px 0px 10px 20px;
}

.tables {
    max-width: 100vw;
}

.table {
    padding: 20px;
}

.example-full-width {
    width: 300px;
    padding-left: 20px;
}