.update-div {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.mat-mdc-button-base.my-custom-button {
  background-color: #BD4545 !important;
}

.card {
  width: 500px;
  height: 500px;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
    color: #BD4545 !important;
    font-size: 1.8rem !important;
    margin: 7px 0px;
    border-bottom: 3px solid;
    padding: 4px;
}

textarea {
  resize: none;
  height: 250px !important;
}

.action-buttons {
  gap: 10px !important;
}