.card {
  width: 400px;
  height: 240px;
}

.header-title {
    color: #BD4545 !important;
    font-size: 1.8rem !important;
}

.header-sub {
    color: #BD4545 !important;
    font-size: 1.0rem !important;
}

.card-div {
    padding: 20px;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 3rem;
}

.mat-mdc-button-base.my-custom-button {
  background-color: #BD4545 !important;
  margin-top: 10px;
}

.mat-mdc-button-base.back-button {
  background-color: #BD4545 !important;
  margin: 10px 0px 0px 10px;
  width: 50px;
  height: 30px;
}